<div class="text-center mt-4 recPosts">
    <h1>Recent Posts</h1>
</div>

{{#each allPosts}}

<div class="container card w-75 mt-3 blog-post">
    
    <div class="card-body">
        
        <div class="row">

        <div class="col-6 title">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-6 name-date">
            <p>{{ user_id }} {{ format_date dateCreated }}</p>
        </div>

        </div>

        <div class="row">
            <div class="col-12 content">
                <p>{{ contents }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{ comments }}</p>
            </div>
        </div>

    </div>

</div>

{{/each}}