<div class="container d-flex align-items-center justify-content-center">
<div class="card-body w-75 mt-5">
    <div class="card">
        <h1 class="text-center mt-3">New Post</h1>
        <div class="input-group p-2">
            <input class="mt-4 new-title" placeholder="Title">
            <textarea class="w-100 new-post" placeholder="New Post"></textarea>
            <button class="m-2 p-2 newPost-btn">Post</button>
        </div>
    </div>
</div>
</div>

<div class="text-center mt-4 recPosts">
    <h1>Your Posts</h1>
</div>

{{#each BlogPost}}

<div class="flex-container w-75 card blog-post">
    <div class="card-body">
        <div class="row">
        <div class="col-6 title">
            <h2>{{ BlogPost.title }}</h2>
        </div>
        <div class="col-6 name-date">
            <p>{{ BlogPost.username }} {{ BlogPost.dateCreated }}</p>
        </div>
        </div>
        <div class="col-12 content">
            <p>{{ BlogPost.contents }}</p>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{ BlogPost.comments }}</p>
            </div>
        </div>
    </div>
</div>

{{/each}}

